{% extends "base_site.html" %}

{% block title %} Log Search {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <!-- <div class="title_left">
          <h3>Users <small>Some examples to get you started</small></h3>
        </div> -->


        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Log Search</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <!-- <p class="text-muted font-13 m-b-30">
                  DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                </p> -->

                <div style="margin: 0 0 15px;">
                  <form id="search_form" action="/home/search" method="post" class="form-inline">
                    <div class="form-group">
                      <label class="control-label">Target time period<span class="required">*</span></label>
                      <input type="text" class="form-control" required="required" id="time_period" name="time_period" value="{{ date }}" size="33">
                    </div>
                    <br>
                    <div class="form-group" style="margin-top: 10px">
                      <label class="control-label" style="margin-right: 18px;">Search keyword</label>
                      <input type="text" class="form-control" id="match" name="match" placeholder="192.168" value="{{ match }}" size="33">
                    </div>
                    <br><br>
                    <div class="form-group" style="margin-right: 10px">
                      <input type="checkbox" class="flat" id="count" name="count"{% if count %} checked{% endif %}>
                      <label class="form-check-label" for="count" name="count">count</label>
                    </div>
                    <div class="form-group" style="margin-right: 15px">
                      <input type="checkbox" class="flat" id="sum" name="sum"{% if sum %} checked{% endif %}>
                      <label class="form-check-label" for="sum" name="sum">sum</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" class="flat" id="exact" name="exact"{% if exact %} checked{% endif %}>
                      <label class="form-check-label" for="exact">exact match</label>
                    </div>
                    <br>
                    <div class="form-group" style="margin-top: 10px">
                      <button id="query_button" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </form>
                </div>
                <div id="notice" class="well" style="color: #000; display: none;"></div>
                <div id="status" class="well" style="color: #000; display: none;"></div>
                <div id="status_error" class="alert alert-warning" style="color: #fff; display: none;"></div>
                <div id="result" class="alert alert-success" style="color: #fff; display: none;"></div>
                <div id="error" class="alert alert-warning" style="color: #fff; display: none;"></div>
                <table id="log_table" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>Log</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>


        </div>

      </div>

      <div class="clearfix"></div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>

  <script src="{{ url_for('static', filename='js/hayabusa.js') }}"></script>
  <script>
    var statusCheckTimer;
    var table = createLogSearchDataTable('#log_table', '/home/draw');
    var form = $('#search_form');

    $(document).ready( function () {
      createDateRangePicker('#time_period', '{{ end_date }}');
      $('#query_button').on('click', function(){
        $('#notice').text('').hide();
        $('#status').text('').hide();
        $('#status_error').text('').hide();
        $('#result').text('').hide();
        $('#error').text('').hide();
        // clear table and search
        table.ajax.url('/home/draw').load(searchRequest(table, form, statusCheckTimer, '/home/status/', '/home/draw/'));
        event.preventDefault();
      });
    } );
  </script>
{% endblock javascripts %}
